<html>
<head>
    <title>计网实验task4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body bgcolor="#FFFFFF" text="#000000">

<p>
    <img src="http://img0.bdstatic.com/static/searchresult/img/logo-2X_32a8193.png" WIDTH="70" HEIGHT="41" > </p>
<p> 这个网页是计网实验的task4 就是获取嵌入图片的网页 <br>  因为网上的图片不是每一个都可以嵌入，所以搜寻后第一张是百度的logo <br>
     第二张是我喜欢的一个日剧：非自然死亡的图片</p>
<p align="left"><img src="http://manic.cs.umass.edu/~kurose/cover_5th_ed.jpg" width="168" height="220"></p>
<img src="http://gaia.cs.umass.edu/pearson.png" WIDTH="70" HEIGHT="41" >
</body>
</html>
